@import url('https://fonts.googleapis.com/css?family=Asap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$padding: 12px;
$size_1: 56px;
$size_2: 36px;
$size_3: 24px;

$large: 1100px;
$medium: 750px;
$small: 450px;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  color: #474343;
}

nav {
  position: fixed;
  width: 100%;
  padding: $padding;
  .links>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 100px;
    padding: $padding;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  width: 100%;

  &.padded {
    padding: $padding;
  }

  &.padded-h {
    padding: $padding;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media only screen and (min-width: 1620px) {
    max-width: 1440px;
    margin: 0 auto;
    &.small {
      max-width: 900px;
    }
  }

  .col {
    &.w2 { grid-column-end: span 2; }
    &.w3 { grid-column-end: span 3; }
    &.w4 { grid-column-end: span 4; }
    &.w5 { grid-column-end: span 5; }
    &.w6 { grid-column-end: span 6; }
    &.w7 { grid-column-end: span 7; }
    &.w8 { grid-column-end: span 8; }
    &.w9 { grid-column-end: span 9; }
    &.w10 { grid-column-end: span 10; }
    &.w11 { grid-column-end: span 11; }
    &.w12 { grid-column-end: span 12; }

    &.v-middle { align-self: center; }
    &.v-top { align-self: start; }
    &.v-bottom { align-self: end; }

    &.large {
      @media only screen and (max-width: $large) {
        grid-column-end: span 12;
      }
    }

    &.med {
      @media only screen and (max-width: $medium) {
        grid-column-end: span 12;
      }
    }

    &.small {
      @media only screen and (max-width: $small) {
        grid-column-end: span 12;
      }
    }

  }

  &.inverse {
    * {
      color: white;
    }
  }
}

.center-children-vertically {
  display: flex;
  align-items: center;
}

.align-right {
  text-align: right;
}

h1 {
  font-size: $size_1;
  margin-bottom: ($size_1 / 2);
  font-weight: 600;
}

h2 {
  font-size: $size_2;
  margin-bottom: ($size_2 / 2);
  font-weight: 600;
}

h3 {
  font-size: $size_3;
  margin-bottom: ($size_3 / 2);
}

.hero {
  height: 100vh;
  background: url(/media/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-bg {
  background: url(/media/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.block {
  text-decoration: none;
  color: inherit;
}

.nav-bumper {
  height: 76px;
  width: 100%;
}

.card {
  background: white;
  padding: 24px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 2px;
  box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.05);
}

.initial-content {
  margin-top: $padding * 8;
}