$font-color: #4E4047;
$font-header-color: #211D1F;
$background-color: white;
$background-alt-color: #f7f7f7;
$border-color: #DEDEDE;
$font-other-color: #B5B5B5;

$accent-color: #FF0066;
$accent-alt-color: #1F256E;