{% extends "index.html" %}

{% block alt_nav %}
<nav class="full-bg" style="background-image: url(/media/background-c.svg);">
{% endblock alt_nav %}

{% block content %}

<div class="nav-bumper"></div>

{% set section = get_section(path="blog/_index.md") %}
{% for post in section.pages %}
    <div class="container small initial-content">
            <section class="col w12 large">
                <a href="{{post.permalink}}" class="block">
                    <h2>{{ post.title }}</h2>
                </a>
                <p> 
                    {{ post.content | safe | striptags | truncate }} 
                </p>
            </section>
        </a>
    </div>
{% endfor %}

{% endblock content %}