<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>U6H</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
    <div class="full-flex">
        <div class="center">
            <video autoplay="autoplay" muted="true" loop="true" class="video">
                <source src="/media/logo.mp4" type="video/mp4" />
            </video>
            <h2>Give us money and we'll make your stuff.</h2>
        </div>
    </div>
</body>
</html>